/* background-image: url('../../public/favicon.ico'); */

.mistake-summary {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.mistake-summary h2 {
    color: #333;
    font-size: 2em; /* Larger font size for title */
    font-style: italic;
    font-family: 'Cinzel', serif; 
}

.mistake-summary p {
    color: #666;
    font-size: 1.1em; /* Slightly larger for readability */
    margin-bottom: 20px;
}

.mistake-summary table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    animation: fadeIn 2s;
}

.mistake-summary th, .mistake-summary td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

.mistake-summary th {
    background-color: #4CAF50;
    color: white;
    border-bottom: 3px solid #367B3F; /* Darker shade for a subtle contrast */
}

.mistake-summary td {
    background-color: #fafafa;
}

/* Highlight columns for Latin and Common names */
.mistake-summary .latin-name, .mistake-summary .common-name {
    cursor: pointer;
    font-weight: bold;
    background-color: #d9fce4; /* Light green background for emphasis */
}

.mistake-summary tr:nth-child(even) td {
    background-color: #f0f0f0;
}

.mistake-summary tr:hover {
    background: linear-gradient(to right, #f5f5f5 0%, #e8f5e9 100%);
}

/* Icon styles */
.icon-leaf {
    display: inline-block;
    margin-right: 5px;
    width: 16px; /* Icon size */
    height: 16px; /* Icon size */
    background-image: url('../../public/favicon.ico');
    background-size: cover;
}

/* Responsive adjustments for mobile devices */
@media (max-width: 600px) {
    .mistake-summary table, .mistake-summary thead, .mistake-summary tbody, .mistake-summary th, .mistake-summary td, .mistake-summary tr {
        display: block;
    }

    .mistake-summary thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .mistake-summary td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .mistake-summary td:before {
        position: absolute;
        top: 12px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        content: attr(data-label);
    }
}
