.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  width: 100%; /* Increased width */
  max-width: 1200px; /* Increased max-width */
  margin: 20px auto;
  text-align: center;
}

.profile h1 {
  color: #4CAF50;
  margin-bottom: 20px;
}

.profile p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Add styles for the student avatar */
.student-avatar {
  width: 150px; /* Increased size */
  height: 150px; /* Maintain aspect ratio */
  border-radius: 50%; /* Keeps the image circular */
  margin-bottom: 20px; /* Space between the image and the greeting */
}
