/* RegisterPage.css */

body {
          margin: 0;
          padding: 0;
          font-family: Arial, sans-serif;
        }
        
        .register-page {
          background-image: url('../images/background.png');
    background-repeat: repeat;
    background-size: 100px 100px;
          min-height: 100vh;
          animation: fadeIn 1s;
          display: flex;
          flex-direction: column;
        }
        
        
        @keyframes fadeIn {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
        .register-content {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .register-container {
          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.7); /* Adjusted transparency to 70% opaque */
          border-radius: 20px 50px 20px 50px; /* Asymmetrical rounded corners */
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          width: 500px; /* Slightly wider width */
          max-width: 100%; /* Ensure it doesn't overflow its container */
          margin: 50px auto; /* Move down 50px and center horizontally */
        }
        
        
        .register-title {
          margin-bottom: 40px;
          font-style: italic;
          font-family: 'Cinzel', serif; 
        }
        
        .register-title h1 {
          color: #4CAF50;
        }
        
        .register-buttons {
          display: flex;
        }
        
        .register-button {
          margin: 10px;
          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border: 1px solid #ddd;
          cursor: pointer;
          background-color: #FFF;
          border-radius: 10px;
          transition: all 0.3s ease-in-out;
        }
        
        .register-image {
          width: 100px;
          margin-bottom: 10px;
        }
        
        .register-button:hover {
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        }
        
       
.ant-input:hover,
.ant-input-affix-wrapper:hover {
  border-color: #4CAF50;
}

.ant-input:focus,
.ant-input-affix-wrapper:focus {
  border-color: #4CAF50 !important;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2);
}

.ant-input-affix-wrapper:hover {
  border-color: #4CAF50 !important;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2);
}

.ant-input-password:hover .ant-input,
.ant-input-password:focus .ant-input {
  border-color: #4CAF50;
}

.ant-input-password:hover .ant-input-affix-wrapper,
.ant-input-password:focus .ant-input-affix-wrapper {
  border-color: #4CAF50;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2);
}

.ant-input-affix-wrapper-focused {
  border-color: #4CAF50;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2);
}
