.score-ranking-container {
          max-width: 800px;
          margin: 20px auto;
          padding: 20px;
          background-color: #fff;
          border-radius: 10px;
          box-shadow: 0 2px 10px rgba(0,0,0,0.1);
          animation: fadeIn 1s;
      }
      
      @keyframes fadeIn {
          from { opacity: 0; }
          to { opacity: 1; }
      }
   
      
      @keyframes bounce {
          0%, 100% { transform: translateY(0); }
          50% { transform: translateY(-5px); }
      }
      
      .score-ranking-container h1 {
        
        margin: 20px 0;
        font-size: 30px;
        text-align: center;
        letter-spacing: 2px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        font-style: italic;
        font-family: 'Cinzel', serif; 
      }
      
      .score-ranking-container p {
          text-align: center;
          color: #666;
          margin-bottom: 20px;
          font-size: 1.1em; /* Slightly larger for readability */
      }
      
      .score-ranking-table {
          width: 100%;
          border-collapse: collapse;
      }
      
      .score-ranking-table thead th {
          background-color: #4CAF50;
          color: white;
          padding: 10px;
          text-align: left;
          border-bottom: 3px solid #367B3F; /* Darker shade for a subtle contrast */
          animation: fadeIn 2s;
      }
      
      .score-ranking-table tbody td {
          padding: 10px;
          border-bottom: 1px solid #ddd;
          text-align: left;
      }
      
      .score-ranking-table tbody tr:hover {
          background: linear-gradient(to right, #f5f5f5 0%, #e8f5e9 100%);
          animation: stripe 1s forwards;
      }
      
      .medal-img {
          height: 40px; /* Slightly larger for visibility */
          width: auto;
          display: block;
          margin: auto;
          transition: transform 0.3s ease;
      }
      
      .medal-img:hover {
          animation: bounce 0.6s;
      }
      
      .loading, .no-rankings {
          text-align: center;
          padding: 20px;
          font-size: 1.2em;
          color: #666;
      }
      
      .table-row.top-three {
          font-weight: bold; /* Highlight top three rows */
          background-color: #e6f7e6; /* Subtle green background for top three */
      }
      