.student-review {
    padding: 20px;
    animation: fadeIn 1s;
}
     
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.progress-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.progress-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.progress-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.student-review h2 {
    color: #4c4b4b;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.student-review p {
    font-size: 16px;
    color: #666;
}

.student-review button {
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.student-review button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.student-review .button-delete {
    background-color: #d37474; /* Red color for delete button */
    transition: background-color 0.3s, transform 0.2s;
}

.student-review .button-delete:hover {
    background-color: #b76868; /* Darker red on hover */
    transform: scale(1.05);
}